// 头部

.header{
    width: 1130px;
    height: 98px;
    margin:0 auto;
    a{
        display: block;
        width: 200px;
        height: 98px;
        background: url(../images/mistore_logo.png) no-repeat;    
    }
}
.banner{
    height: 588px;
    background: url(../images/login_bg.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;
    position: relative;
    .login{
        width: 410px;
        background: #fff;
        position: absolute;
        top: 35px;
        right: 110px;
        .text{
            height: 78px;
            a{
                font-size: 24px;
                color: #f56600;
                margin-left: 60px;
                position: relative;
                line-height: 78px;
                &:hover{
                    color: #f56600 ;
                    text-decoration: none;
                }
            }
            .num{
                &::after{
                    content: '';
                    display: block;
                    background: #666;
                    width: 1px;
                    height: 28px;
                    position: absolute;
                    left: 125px;
                    top: 0;
                }
            }
            .code{
                color: #666;
                margin-left: 60px;
            }
        }

        // 输入框
        .ipt{
            padding: 0 30px;
            input{
                width: 348px;
                height: 48px;
                border: solid 1px #e0e0e0;
                padding: 13px 16px 13px 14px;
                margin-top: 13px;
            }
            .btn{
                background: #ff6700;
                color: #fff;
                border: 0;
                margin-top: 25px;
            }
        }
        
        // 登录注册
        .reg{
            padding:10px 30px 130px; 
            a{
                &:nth-child(1){
                    color: #ff6700;
                    margin-right: 80px;
                }
                font-size: 14px;
                color: #999999;
                &:hover{
                    text-decoration: none;
                    color: #ff6700;
                }
            }
        }
        // 其他方式登录
        .other{
            padding: 0 30px 52px;
            span{
                display: block;
                margin-bottom: 13px;
                color: #bbb;
            }
            a{
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: 0 17px;
                i{
                    display: block;
                    width: 18px;
                    height: 18px;
                    margin: 4px auto 0;
                    
                }
            }
            .icon_qq{
                background: #0288d1;
                margin-left: 50px;
                i{
                    background: url('../images/icons_type.png');
                    background-position: -19px 0;
                }
                // background: url('../images/icons_type.png');
            }
            .icon_weibo{
                background:#d32f2f;
                // margin: 0 17px;
                i{

                    background: url('../images/icons_type.png');
                    background-position: -38px 0;
                }
            }
            .icon_zhi{
                background:#0ae;
                // margin: 0 17px;
                i{
                    margin-top: 6px;
                    margin-left: 4px;
                    width: 25px;
                    background: url('../images/icons_type.png');
                    background-position: -57px 0;
                }
            }
            .icon_we{
                background:#00d20d;
                // margin: 0 17px;
                i{
                    margin-top: 6px;
                    margin-left: 4px;
                    width: 24px;
                    background: url('../images/icons_type.png');
                    background-position: -83px 0;
                }
            }
            
        }
    }
}
// footer
.footer{
    width: 1349px;
    height: 80px;
    padding-top: 100px;
    ul{
        span{
            color: #757575;
        }
        padding: 0 500px;
        li{
            display: inline-block;
            font-size: 14px;
            
            a{
                display: block;
                color: #757575;
                padding: 0 10px;
                &:hover{
                    color: #333;
                    text-decoration: none;
                }
            }
            &:nth-child(1){
                a{
                    color: #333333;
                }
            }

        }
    }
    p{
        font-size: 14px;
        text-align: center;
        color: #757575;
        padding-bottom: 20px;
        img{
            display: inline;
        }
    }
}