body{
    background: #f9f9f9;
}
.header{
    width: 854px;
    height: 548px;
    background: #fff;
    margin: 0 auto 10px;
    .logo{
        width: 49px;
        height: 49px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .header_c{
        h4{
            font-size: 30px;
            color: #333;
            text-align: center;
        }
    }

    // 注册验证
    .regbox{
        width: 330px;
        margin: 0 auto;
        padding-top: 30px;
        p{
            font-size: 14px;
            color: #333;
            line-height: 20px;
            padding-bottom: 5px;
            &:nth-of-type(3){
                text-align: center;
                a{
                    color: #9D9D9D;
                    span{
                        color: #333;
                        font-weight: bold;
                    }
                }
            }
        }
        input{
            width: 310px;
            height: 20px;
            border:solid 1px #e8e8e8;
            padding: 10px;
        }
        .regBtn{
            width: 328px;
            height: 40px;
            border: 1px solid rgba(186,186,186,0.3);
            background: #ff6700;
            color: #fff;
            margin:0 0 85px;
        }
        .phone,.pwd{
            height: 30px;
        }
        // 错误提示信息
        .err{
            height: 50px;
            font-size: 14px;
            line-height: 50px;
            display: none;
            i{
                display: inline-block;
                width: 14px;
                height: 14px;
                margin: -1px 5px 0 0;
                vertical-align: middle;
                background: url(../images/icon_user.png) no-repeat;
                background-position: -49px 0;
            }
            span{
                color: #f66;
                vertical-align: middle;
            }
        }
        .err_pwd{
            @extend .err;
        }
    }
    
}

// footer
.footer{
    // width: 1349px;
    height: 80px;
    // padding-top: 100px;
    ul{
        span{
            color: #757575;
        }
        padding: 0 500px;
        li{
            display: inline-block;
            font-size: 14px;
            
            a{
                display: block;
                color: #757575;
                padding: 0 10px;
                &:hover{
                    color: #333;
                    text-decoration: none;
                }
            }
            &:nth-child(1){
                a{
                    color: #333333;
                }
            }

        }
    }
    p{
        font-size: 14px;
        text-align: center;
        color: #757575;
        padding-bottom: 20px;
        img{
            display: inline;
        }
    }
}